@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap");
@font-face {
  font-family: pixelmix;
  src: url("/pixelmix.ttf");
}
h1 {
  font-family: pixelmix, "Poppins", sans-serif;
}

.fuente {
  font-family: "Poppins", sans-serif;
}

.textoCarga, .contadorTiempo {
  font-family: pixelmix, "Poppins", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.tiempo, .info {
  color: white;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.cursor {
  cursor: pointer;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #3b3b98 0%, #182c61 100%);
  padding: 0;
  margin: 0;
  margin: 0;
  overflow-x: hidden;
}
body .contenedor {
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
body .contenedor .gameboy {
  margin-top: 30px;
  display: block;
  border-radius: 15px 15px 0px 0px;
  background-color: #55E6C1;
  width: 320px;
  height: 500px;
}
body .contenedor .gameboy .pantalla {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contenedor .gameboy .pantalla .capa1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3e3e;
  width: 280px;
  height: 240px;
  border-radius: 10px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 {
  width: 200px;
  height: 160px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 {
  position: relative;
  background-size: cover;
  width: 200px;
  height: 160px;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 30px 30px -1px #000000;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .contadorTiempo {
  position: absolute;
  left: 10px;
  top: 10px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .contadorTiempo .info {
  width: 200px;
  position: absolute;
  top: 20px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .loading {
  top: 90%;
  transform: translateY(-100%);
  position: relative;
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-template-rows: 5px 20px 5px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .loading .black {
  background-color: black;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .loading .progreso {
  background-color: white;
  padding: 5px;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .loading .progreso .porcentajeCarga {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
body .contenedor .gameboy .pantalla .capa1 .cont-capa2 .capa2 .loading .progreso .barra {
  background-color: #23d623;
  width: 0%;
  height: 100%;
  position: relative;
}
body .contenedor .gameboy .controles {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 60% 40%;
}
body .contenedor .gameboy .controles .cruz {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor {
  width: 90px;
  height: 90px;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor .box {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0 -4px -4px 0;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor .box:hover {
  opacity: 0.9;
  color: white;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor .btn {
  background-color: #3f3e3e;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor #arriba {
  border-radius: 5px 5px 0px 0px;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor #izq {
  border-radius: 5px 0px 0px 5px;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor #medio {
  border-radius: 0px 0px 0px 0px;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor #der {
  border-radius: 0px 5px 5px 0px;
}
body .contenedor .gameboy .controles .cruz .cruz-contenedor #abajo {
  border-radius: 0px 0px 5px 5px;
}
body .contenedor .gameboy .controles .espacio {
  position: relative;
}
body .contenedor .gameboy .controles .espacio .mini-btn {
  margin-top: 25px;
  background-color: #3f3e3e;
  width: 40px;
  height: 15px;
  border-radius: 10px;
}
body .contenedor .gameboy .controles .espacio .mini-btn:hover {
  opacity: 0.9;
  color: white;
}
body .contenedor .gameboy .controles .espacio .select-contenedor {
  position: absolute;
  right: 0;
}
body .contenedor .gameboy .controles .botones {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contenedor .gameboy .controles .botones .botones-contenedor {
  width: 70%;
}
body .contenedor .gameboy .controles .botones .botones-contenedor .a-contenedor {
  position: relative;
  height: 25px;
}
body .contenedor .gameboy .controles .botones .botones-contenedor .a-contenedor .a {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #686868;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: #3f3e3e;
  border-radius: 100px;
}
body .contenedor .gameboy .controles .botones .botones-contenedor .a-contenedor .a:hover {
  opacity: 0.9;
  color: white;
}
body .contenedor .gameboy .controles .botones .botones-contenedor .b-contenedor .b {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #686868;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #3f3e3e;
  border-radius: 100px;
}
body .contenedor .gameboy .controles .botones .botones-contenedor .b-contenedor .b:hover {
  opacity: 0.9;
  color: white;
}
body .contenedor .base {
  display: block;
  background-color: #55E6C1;
  width: 320px;
  height: 50px;
  border-radius: 0px 0px 100% 100%;
}

.capa2-fadeIn {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.info-fadeOn {
  -webkit-animation: fadeOn 7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOn 7s;
  /* Firefox < 16 */
  -ms-animation: fadeOn 7s;
  /* Internet Explorer */
  -o-animation: fadeOn 7s;
  /* Opera < 12.1 */
  animation: fadeOn 7s;
  opacity: 0;
}

@keyframes fadeOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lista-contenedor::-webkit-scrollbar {
  width: 10px !important;
  background-color: rgba(0, 0, 0, 0.397) !important;
}

.lista-contenedor::-webkit-scrollbar-thumb {
  width: 7px !important;
  background-color: #55E6C1 !important;
  border-radius: 3px;
  border-right: rgba(0, 0, 0, 0.034) solid 2px;
  border-left: rgba(0, 0, 0, 0.062) solid 2px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.lista-contenedor {
  position: absolute;
  top: 0;
  left: 100vw;
  background-color: rgba(0, 0, 0, 0.486);
  width: 40vw;
  height: 100vh;
  transition: left 0.3s ease-in;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  overflow-y: scroll;
}
.lista-contenedor .figura {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 100%;
  background-color: rgba(0, 0, 0, 0.397);
  width: 50%;
  height: 50%;
  z-index: 1;
}
.lista-contenedor .figura2 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 100% 100% 0px;
  background-color: rgba(0, 0, 0, 0.397);
  width: 50%;
  height: 50%;
  z-index: 1;
}
.lista-contenedor .ContCerrar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lista-contenedor .ContCerrar .cerrarListaMusica {
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 50px;
  margin: 0;
  z-index: 200;
}
.lista-contenedor .cantion-contenedor {
  cursor: pointer;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.lista-contenedor .cantion-contenedor .cancion {
  z-index: 200;
  background-color: #55E6C1;
  width: 80%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  font-size: 10px;
}
.lista-contenedor .cantion-contenedor .cancion:hover {
  width: 100%;
}
.lista-contenedor .cantion-contenedor .cancion h1 {
  z-index: 200;
  padding: 0;
  margin: 10px 0px 10px 9px;
  border: 0;
}

.open {
  left: 60vw;
}

@media (max-width: 1000px) {
  .lista-contenedor {
    width: 70vw !important;
    overflow-y: scroll;
  }

  .open {
    left: 30vw;
  }
}
@media (max-width: 600px) {
  .lista-contenedor {
    padding: 10px 10px 10px 10px;
    width: 100vw !important;
    overflow-y: scroll;
  }
  .lista-contenedor .cantion-contenedor .cancion {
    width: 100%;
  }

  .open {
    left: 0vw;
  }
}
@keyframes changecolor {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.animacionBaile {
  animation-duration: 0.5s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changew {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
.changew {
  animation-duration: 0.5s;
  animation-name: changew;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*# sourceMappingURL=style.css.map */
