@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

@font-face {
    font-family: pixelmix;
    src: url("/pixelmix.ttf");

  }
h1{
    font-family: pixelmix,'Poppins', sans-serif;
}

.fuente{
    font-family: 'Poppins', sans-serif;
}


.textoCarga , .contadorTiempo{
    font-family: pixelmix,'Poppins', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.tiempo, .info{
    color: white;
}

