body {
    // border: rgb(18, 165, 18) solid 1px; 
    height: 100vh;
    background: $fondo;
    padding: 0;
    margin: 0;
    margin: 0;
    overflow-x: hidden;

    .contenedor {
        
        // border: white solid 1px;
        border-radius: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;

        .gameboy {
            margin-top: 30px;
            display: block;
            border-radius: 15px 15px 0px 0px;
            background-color: $gameboy;
            width: 320px;
            height: 500px;

            .pantalla {
               
                width: 100%;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                .capa1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background-color: rosybrown;
                    background-color: $gris;
                    width: 280px;
                    height: 240px;
                    border-radius: 10px;
                    .cont-capa2{
                        // opacity: 0.3;
                        // transition: opacity .2s ease-in;
                        width: 200px;
                        height: 160px;
                        .capa2{
                            // background-color: royalblue;
                            // background-color: gray;
                            position: relative;
                            background-size: cover;
                            width: 200px;
                            height: 160px;
                            border-radius: 10px;
                            -moz-box-shadow:    inset 0 0 10px #000000;
                            -webkit-box-shadow: inset 0 0 10px #000000;
                            box-shadow:         inset  0 30px 30px -1px #000000;

                            .contadorTiempo{
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                .info{
                                width: 200px;
                                position: absolute;

                                    top: 20px;
                                }
                            }
                            .loading{
                                top: 90%;
                                transform: translateY(-100%);
                                position: relative;
                                width: 90%;
                                margin: 0px auto;
                                // background-color: whitesmoke;
                                display: grid;
                                grid-template-columns: 5px 1fr 5px;
                                grid-template-rows: 5px 20px 5px;
     
                                .black{
                                    background-color: black;
                                }
                                .progreso{
                                    background-color: white;
                                    padding: 5px;
                                    .porcentajeCarga{
                                        position: absolute;      
                                        // background-color: rgb(177, 27, 102);
                                        left: 50%;
                                        transform: translateX(-50%);
                                        z-index: 100;
                                        
                                    }
                                    .barra{
                                        background-color: rgb(35, 214, 35);
                                        width: 0%;
                                        height: 100%;
                                        position: relative;
                

                                    }
                                }
    
                            }
          
                        }
                    }
  

          
                }
            }

            .controles {
                // background-color: white;
                width: 100%;
                height: 200px;
                display: grid;
                grid-template-columns: 45% 10% 45%;
                grid-template-rows: 60% 40%;

                .cruz{
                    // background-color: green;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .cruz-contenedor{
                        // background-color: yellow;
                        width: 90px;
                        height: 90px;
                        .box{
                            display: inline-block;
                            // background-color: aqua;
                            width: 30px;
                            height: 30px;
                            padding: 0;
                            margin: 0;
                            border: 0;
                            margin: 0 -4px -4px  0;
                            &:hover{
                                opacity: .9;
                                color: white;
                                
                            }
                        }
                        .btn{
                            background-color: $gris;
                        }
                        #arriba{
                            border-radius: 5px 5px 0px 0px;
                        }
                        #izq{
                            border-radius: 5px 0px 0px 5px;
                        }
                        #medio{
                            border-radius: 0px 0px 0px 0px;
                        }
                        #der{
                            border-radius: 0px 5px 5px 0px;
                        }
                        #abajo{
                            border-radius: 0px 0px 5px 5px;
                        }
                    }
                }
                .espacio{
                    position: relative;
                    .mini-btn{
                        margin-top: 25px;
                        background-color: $gris;
                        width: 40px;
                        height: 15px;
                        border-radius: 10px;
                        &:hover{
                            opacity: .9;
                            color: white;
                        }
                    }
                    .select-contenedor{
                        position: absolute;
                        right: 0;
                    }
            
                }
                .botones{
                    // background-color: blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .botones-contenedor{
                        // background-color: rgb(153, 177, 22);
                        width: 70%;
                        .a-contenedor{
                            position: relative;
                            height: 25px;
                           
                            .a{
                                font-family: 'Poppins', sans-serif;
                                font-size: 30px;
                                color: $gris-claro;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                right: 0px;
                                width: 40px;
                                height: 40px;
                                background-color: $gris;
                                border-radius: 100px;
                                &:hover{
                                    opacity: .9;
                                    color: white;
                                }
                            }
                        }
                        .b-contenedor{
                            .b{
                                font-family: 'Poppins', sans-serif;
                                font-size: 30px;
                                color: $gris-claro;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                background-color:  $gris;
                                border-radius: 100px;
                                &:hover{
                                    opacity: .9;
                                    color: white;
                                }
                            }
                        }
                    }

                   
 
                }
            }


        }

        .base {
            display: block;
            background-color: $gameboy;
             width: 320px;
             height: 50px;
             border-radius: 0px 0px 100% 100%;
         }
    }
}
$segundos: 2s;
.capa2-fadeIn {


    -webkit-animation: fadein $segundos; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $segundos; /* Firefox < 16 */
        -ms-animation: fadein $segundos; /* Internet Explorer */
         -o-animation: fadein $segundos; /* Opera < 12.1 */
            animation: fadein $segundos;

}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}
$segundosOn: 7s;
.info-fadeOn {


    -webkit-animation: fadeOn $segundosOn; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOn $segundosOn; /* Firefox < 16 */
        -ms-animation: fadeOn $segundosOn; /* Internet Explorer */
         -o-animation: fadeOn $segundosOn; /* Opera < 12.1 */
            animation: fadeOn $segundosOn;
            opacity: 0;
}

@keyframes fadeOn {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOn{
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOn {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOn {
    from { opacity: 1; }
    to   { opacity: 0; }

}